/*-----------------------------------------------------------
    0  Parameter definitions
    1  General Styles
    2  Typography
    3  Hero
    4  About
    5  Team
    6  Contact
    7  Footer
    8 Responsive 
-------------------------------------------------------------*/

/*-----------------------------------------------------------
    0. Parameter definitions
-------------------------------------------------------------*/
$primary-txt-color: #ffffff;
$primary-bg-color: #000000;
$devider-color: #6eb396;
$input-bg-color: #f0f0f0;
$base-font-size: 1rem;
$base-font-family: "Lexend";

$enable-responsive-font-sizes: true;

/*-----------------------------------------------------------
    1. General Styles 
-------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  font-weight: 600;
  color: $primary-txt-color;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
}

a:focus,
a:hover {
  color: rgba(44, 44, 44, 0.8);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $primary-txt-color;
  font-weight: 500;
  letter-spacing: 0px;
}

:active,
:focus {
  outline: none !important;
}

.container-fluid {
  padding-right: 1vw;
  padding-left: 1vw;
}

/*-----------------------------------------------------------
    2. Typography 
  ------------------------------------------------------------*/
body {
  background-color: $primary-bg-color;
  color: $primary-txt-color;
  font-family: $base-font-family;
  font-size: 1.5 * $base-font-size;
  font-weight: 300;
  overflow-x: hidden;
  transition: opacity 1s;
  min-width: 300px;
}

h1,
.h1 {
  // font-size: 4 * $base-font-size;
  font-size: calc(2rem + 3.3vw);
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: -3px;
}

h2,
.h2 {
  // font-size: 2.5 * $base-font-size;
  font-size: calc(1.6rem + 1vw) !important;
  font-weight: 200;
  margin-bottom: 50px;
  color: $primary-txt-color;
}

h3,
.h3 {
  font-size: 1.9 * $base-font-size;
  line-height: 2.5rem;
  margin-bottom: 15px;
}

h4,
.h4 {
  font-size: 1.5 * $base-font-size;
}

h5,
.h5 {
  font-size: $base-font-size;
  color: $primary-txt-color;
}

h6,
.h6 {
  font-size: $base-font-size;
  margin-bottom: 10px;
}

ul,
p {
  font-size: 1.4 * $base-font-size;
}

p,
.p {
  line-height: 1.8;
  color: $primary-txt-color;
  margin-bottom: 15px;
  letter-spacing: -0.6px;
}

/*-----------------------------------------------------------
    3. Hero
  -------------------------------------------------------------*/
#hero {
  width: 100vw;
  height: 110vh;
  // background: center no-repeat url("../images/splash.svg");
  // background: center no-repeat
  //     linear-gradient(
  //       to bottom,
  //       rgba(80, 131, 149, 0) 77%,
  //       rgba(80, 131, 149, 0.3) 80%,
  //       rgba(80, 131, 149, 0.5) 85%,
  //       rgba(80, 131, 149, 0.8) 90%,
  //       rgba(90, 144, 120, 1) 99%
  //     ),
  //   url("../images/splash.svg");
  background: center no-repeat url("../images/splash.svg");

  .value {
    margin: auto;
    padding: 13% 1%;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $primary-txt-color;
  font-size: 1.1rem;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $primary-txt-color;
}

.navbar-light .navbar-brand {
  margin-right: 10%;
}

.nav-item {
  padding: 0 10px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $primary-txt-color;
}

/*-----------------------------------------------------------
   4. About
  -------------------------------------------------------------*/
#about {
  margin-top: -20vh;
  background: rgb(73, 149, 120);
  background: linear-gradient(
    rgba(73, 149, 120, 0) 0%,
    rgba(73, 149, 120, 1) 20%,
    rgba(68, 140, 134, 1) 50%,
    rgba(64, 129, 148, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );

  .container {
    padding: 20vw 1vw;
    min-height: 500px;
  }
}

/*-----------------------------------------------------------
    5. Team
  -------------------------------------------------------------*/
.team {
  padding: 100px 50px;

  img {
    width: 80%;
    min-width: 300px;
    border-radius: 50%;
  }

  h4 {
    font-size: 2rem;
    font-weight: 500;
  }

  .profile {
    margin: 5px 20px;
    color: $primary-txt-color;
  }
}

/*-----------------------------------------------------------
    6. Follow
  -------------------------------------------------------------*/
.follow {
  background: rgb(73, 149, 120);
  background: linear-gradient(
    rgba(73, 149, 120, 1) 20%,
    rgba(68, 140, 134, 1) 50%,
    rgba(64, 129, 148, 1) 99.99%
  );
  border-radius: 1.5rem;
  font-size: $base-font-size;
  font-weight: 500;
  color: $primary-txt-color;

  &:hover {
    text-decoration: none;
    color: inherit !important;
    background: rgb(64, 129, 148);
    background: linear-gradient(
      rgba(64, 129, 148, 1) 20%,
      rgba(68, 140, 134, 1) 50%,
      rgba(73, 149, 120, 1) 99.99%
    );
    --webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  &:active,
  &:focus {
    text-decoration: none;
    box-shadow: none;
    background: rgb(40, 116, 139);
    background: linear-gradient(
      rgb(32, 110, 134) 20%,
      rgb(31, 129, 121) 50%,
      rgb(32, 138, 97) 99.99%
    );
  }
}

/*-----------------------------------------------------------
    7. Footer
  -------------------------------------------------------------*/
footer {
  background-color: $primary-bg-color;
}

footer h5 {
  color: #fff;
  padding-bottom: 30px;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
}

.contact-nav li {
  display: inline;
  color: #fff;
}

.contact-nav a {
  color: #fff;
  font-size: 1.1rem;
  padding: 20px 20px;
}

.contact-nav a:hover {
  color: $primary-txt-color;
}

footer h6 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 20px;
}

.social li {
  display: inline;
}

.social li a {
  font-size: 2.7rem;
  color: #fff;
  margin: 0px 30px;
}

.social li a:hover {
  color: $primary-txt-color;
  transition: all 0.3s ease;
}

/*-----------------------------------------------------------
    8. Responsive
  -------------------------------------------------------------*/
@media (max-width: 2000px) {
  .hero img {
    right: 5%;
  }
}

@media (max-width: 1700px) {
  .hero-btns {
    margin-bottom: 280px;
  }
}

@media (max-width: 1500px) {
  .hero img {
    right: 0;
  }
}

@media (max-width: 1350px) {
  .hero img {
    right: -10%;
  }
  .hero-btns {
    margin-bottom: 140px;
  }
}

@media (max-width: 1199px) {
  .nav-item {
    padding: 0px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .contact-btn button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: none;
    font-size: 1rem;
  }

  .hero img {
    margin-top: 80px;
    height: 40rem;
  }

  .hero h1 {
    margin-top: 150px;
    letter-spacing: -3px;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .services p {
    font-size: 0.8rem;
  }

  .hero-btns {
    margin-top: 70px;
  }
}

@media (max-width: 991px) {
  .navbar {
    padding: 15px 0 0 0;
  }

  .hero {
    text-align: center;

    img {
      display: none;
    }

    h1 {
      margin-top: 80px;
    }

    p {
      max-width: 100vw;
    }
  }

  .navbar-collapse {
    text-align: center;
    margin-top: 50px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 2rem;
  }

  .contact-btn {
    display: none;
  }

  .service-txt {
    text-align: center;
  }

  .about img {
    margin-bottom: 70px;
  }

  .team {
    img {
      width: 70%;
    }

    .member:first-of-type {
      margin-bottom: 100px;
    }
  }

  .contact {
    text-align: center;
  }
}

@media (max-width: 768px) {
  p,
  li {
    font-size: 1.2rem;
  }

  .hero {
    h1 {
      font-size: 3.5rem;
    }
  }

  .devider {
    margin-top: 20px;
  }

  .about {
    padding-left: 10px;
    padding-right: 10px;

    ul {
      padding: 0 20px;
    }
  }

  .service-box {
    padding: 20px 25px;
    margin: 0px;
  }

  .contact-nav a {
    font-size: 1rem;
    padding: 20px 5px;
  }
}

@media (max-width: 575px) {
  .service-box {
    padding: 20px 25px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  footer {
    h3 {
      font-size: 2.5rem;
    }

    .social li a {
      margin: 0px 20px;
    }

    .svg-inline--fa.fa-w-16 {
      width: 1.4rem;
    }
  }
}

@media (max-width: 454px) {
  .hero {
    h1 {
      font-size: 2.6rem;
      margin-top: 50px;
    }

    .container {
      padding: 0 10px;
    }
  }

  .hero-btns a:first-child {
    font-size: 1rem;
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .hero-btns a:last-child {
    font-size: 0.8rem;
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  footer h3 {
    line-height: 2.6rem;
  }

  .contact-nav li {
    display: block;
  }

  .social li {
    display: block;
  }
}
